In [1]:
import pyspark

In [2]:
import pandas as pd
df = pd.read_csv('test.csv')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/07/15 15:08:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

In [6]:
df_spark = spark.read.option('header','true').csv('test.csv',inferSchema=True)

In [7]:
df_spark.show()

+-------+---+---------+
|   name|age|experince|
+-------+---+---------+
|haitham| 33|        2|
|  ahmed| 30|        4|
|    ali| 34|        5|
+-------+---+---------+

In [8]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experince: integer (nullable = true)

In [9]:
df_spark.select('name').show()

+-------+
|   name|
+-------+
|haitham|
|  ahmed|
|    ali|
+-------+

In [10]:
df_spark.dtypes

[('name', 'string'), ('age', 'int'), ('experince', 'int')]

In [11]:
df_spark.describe().show()

+-------+-------+------------------+------------------+
|summary|   name|               age|         experince|
+-------+-------+------------------+------------------+
|  count|      3|                 3|                 3|
|   mean|   null|32.333333333333336|3.6666666666666665|
| stddev|   null|2.0816659994661326|1.5275252316519468|
|    min|  ahmed|                30|                 2|
|    max|haitham|                34|                 5|
+-------+-------+------------------+------------------+

In [13]:
df_spark = df_spark.withColumn('new experience', df_spark['experince']+2).show()

+-------+---+---------+--------------+
|   name|age|experince|new experience|
+-------+---+---------+--------------+
|haitham| 33|        2|             4|
|  ahmed| 30|        4|             6|
|    ali| 34|        5|             7|
+-------+---+---------+--------------+

In [15]:
df_spark = df_spark.drop('new experience')

AttributeError: 'NoneType' object has no attribute 'drop'

22/07/16 01:39:56 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 7055969 ms exceeds timeout 120000 ms
22/07/16 01:39:56 WARN SparkContext: Killing executors is not supported by current scheduler.